# Time to Peak

In [1]:
gages:(27#"S";enlist ",") 0:`:data/usgs_gage_subset.csv;
sites:string each gages[`site_no]
sites:{$[7=count x;"0",x;x]}each sites
basin:("S",242#"F";enlist ",") 0:`:data/gages_with_basin_attr.csv
nlcd06:("S",(5#"F"),"SFFSFSFFFFSFSSFSSFFFSFFSFF";enlist ",") 0:`:data/snap_sampled_imp_nlcd_2006.csv 
nlcd11:("S",(5#"F"),"SFFSFSFFFFSFSSFSSFFFSFFSFF";enlist ",") 0:`:data/snap_sampled_imp_nlcd_2011.csv 
nlcd16:("S",(5#"F"),"SFFSFSFFFFSFSSFSSFFFSFFSFF";enlist ",") 0:`:data/snap_sampled_imp_nlcd_2016.csv 

nlcd06:update site_no:`${$[7=count x;"0",x;x]}each string each site_no,year:6 from select
 site_no:SOURCE_FEA,INTPTLAT,INTPTLON,Measure,REACHCODE,distance,imp:imp_nlcd_2006 from nlcd06
nlcd11:update site_no:`${$[7=count x;"0",x;x]}each string each site_no,year:11 from select
 site_no:SOURCE_FEA,INTPTLAT,INTPTLON,Measure,REACHCODE,distance,imp:imp_nlcd_2011 from nlcd11
nlcd16:update site_no:`${$[7=count x;"0",x;x]}each string each site_no,year:16 from select
 site_no:SOURCE_FEA,INTPTLAT,INTPTLON,Measure,REACHCODE,distance,imp:imp_nlcd_2016 from nlcd16
\l ../fdl2019/ml/ml.q
\l ../fdl2019/ml/init.q

In [2]:
\l ../t_p

In [3]:
show peak:select from peak where date>=2009.07.01,site_no in `$sites

date       site_no  lat      lon       start_time              end_time      ..
-----------------------------------------------------------------------------..
2009.07.02 01377500 40.99278 -74.02111 2009.07.02T15:45:00.000 2009.07.02T16:..
2009.07.02 01397000 40.57222 -74.86806 2009.07.02T11:00:00.000 2009.07.02T18:..
2009.07.02 01396500 40.67778 -74.87917 2009.07.02T08:30:00.000 2009.07.02T12:..
2009.07.07 06478500 43.18583 -97.63528 2009.07.07T12:45:00.000 2009.07.23T11:..
2009.07.10 06478690 43.41556 -97.20472 2009.07.10T09:00:00.000 2009.07.11T08:..
2009.07.11 04215000 42.89    -78.64528 2009.07.11T21:45:00.000 2009.07.12T02:..
2009.07.11 04215500 42.82972 -78.77528 2009.07.11T21:15:00.000 2009.07.12T01:..
2009.07.15 06438500 44.52944 -101.9297 2009.07.15T01:00:00.000 2009.07.15T04:..
2009.07.18 06834000 40.35167 -101.1236 2009.07.18T04:00:00.000 2009.07.19T02:..
2009.07.21 01391000 40.99778 -74.11194 2009.07.21T18:45:00.000 2009.07.21T22:..
2009.07.23 02162093 34.02722 -81.04194 2009.07.23T04:00:00.000 2009.07.23T04:..
2009.07.29 01391000 40.99778 -74.11194 2009.07.29T00:30:00.000 2009.07.29T22:..
2009.07.29 01394500 40.6875  -74.31167 2009.07.29T22:15:00.000 2009.07.29T23:..
2009.07.30 04280450 43.46389 -73.28472 2009.07.30T08:15:00.000 2009.07.30T19:..
2009.07.30 01362500 42.01417 -74.27083 2009.07.30T06:30:00.000 2009.07.30T13:..
2009.07.30 01334500 42.93861 -73.3775  2009.07.30T06:00:00.000 2009.08.01T16:..
2009.07.30 01350000 42.31944 -74.43694 2009.07.30T06:45:00.000 2009.07.30T12:..
2009.07.30 01367500 41.84306 -74.08639 2009.07.30T10:15:00.000 2009.07.30T14:..
2009.07.30 01364500 42.03778 -73.9725  2009.07.30T07:45:00.000 2009.08.03T03:..
2009.07.31 01349711 42.185   -74.27722 2009.07.31T16:45:00.000 2009.07.31T21:..
..

In [4]:
\cd ..

In [5]:
maxht:("SDF";enlist ",") 0:`:maxht.csv

In [7]:
precipall:-1_raze {flip `site_no`long`lat`elv`date`ppt!flip value each 10_("SFFFDF";enlist ",")0: 
    hsym `$"fdl_floods/data/prism/",string[x]} each key `:fdl_floods/data/prism
precipall:`date xasc delete from precipall where site_no=`
precipall[`site_no]:`${$[7=count x;"0",x;x]}each string each precipall[`site_no]

show precipall_prev:update prev1:prev ppt,prev2:2 xprev ppt,prev3:3 xprev ppt,
 prev4:4 xprev ppt,prev5:5 xprev ppt,prev6:6 xprev ppt,
 prev7:7 xprev ppt,prev8:8 xprev ppt,prev9: 9 xprev ppt,
 prev10:10 xprev ppt,avgppt:60 mavg ppt by site_no from precipall

site_no  long     lat     elv  date       ppt  prev1 prev2 prev3 prev4 prev5 ..
-----------------------------------------------------------------------------..
01367690 -74.5596 41.1053 1056 2009.07.01 0.46                               ..
01367715 -74.5786 41.1333 617  2009.07.01 0.62                               ..
01367800 -74.6753 41.1628 512  2009.07.01 0.54                               ..
01367805 -74.6566 41.17   512  2009.07.01 0.54                               ..
01377000 -73.9892 40.9992 52   2009.07.01 0.47                               ..
01377370 -74.0392 41.0367 240  2009.07.01 0.43                               ..
01377451 -74.0481 41.0119 85   2009.07.01 0.5                                ..
01377500 -74.0211 40.9928 85   2009.07.01 0.5                                ..
01378500 -74.0267 40.9483 79   2009.07.01 0.68                               ..
01379000 -74.5289 40.68   266  2009.07.01 0.16                               ..
01379500 -74.3897 40.7261 341  2009.07.01 0.2                                ..
01379530 -74.3536 40.7444 262  2009.07.01 0.31                               ..
01379699 -74.5914 40.9342 725  2009.07.01 0.14                               ..
01379773 -74.5397 40.96   925  2009.07.01 0.14                               ..
01379780 -74.5572 40.9494 925  2009.07.01 0.14                               ..
01379845 -74.56   40.8861 650  2009.07.01 0.15                               ..
01379868 -74.5333 40.8731 650  2009.07.01 0.15                               ..
01380000 -74.46   40.9631 827  2009.07.01 0.19                               ..
01380100 -74.5014 40.9022 627  2009.07.01 0.15                               ..
01380450 -74.4192 40.9075 587  2009.07.01 0.36                               ..
..

In [8]:
precipall_fut:update next1:prev reverse ppt,next2:2 xprev reverse ppt,next3:3 xprev reverse ppt,
 next4:4 xprev reverse ppt,next5:5 xprev reverse ppt,next6:6 xprev reverse ppt,
 next7:7 xprev reverse ppt,next8:8 xprev reverse ppt,next9: 9 xprev reverse ppt,
 next10:10 xprev reverse ppt by site_no from precipall_prev

In [9]:
precipall_upst:update pptup1:prev ppt,pptup2:2 xprev ppt by date,catch:2#'string each site_no from precipall_fut

In [10]:
show peak_basin:(peak lj `site_no`date xkey precipall_upst) ij `site_no xkey basin

date       site_no  lat     lon       start_time              end_time       ..
-----------------------------------------------------------------------------..
2009.07.02 01377500 40.9928 -74.02111 2009.07.02T15:45:00.000 2009.07.02T16:1..
2009.07.02 01397000 40.5722 -74.86806 2009.07.02T11:00:00.000 2009.07.02T18:0..
2009.07.02 01396500 40.6778 -74.87917 2009.07.02T08:30:00.000 2009.07.02T12:1..
2009.07.07 06478500 43.1858 -97.63528 2009.07.07T12:45:00.000 2009.07.23T11:4..
2009.07.10 06478690 43.4156 -97.20472 2009.07.10T09:00:00.000 2009.07.11T08:3..
2009.07.11 04215000 42.89   -78.64528 2009.07.11T21:45:00.000 2009.07.12T02:1..
2009.07.11 04215500 42.8297 -78.77528 2009.07.11T21:15:00.000 2009.07.12T01:4..
2009.07.15 06438500 44.5294 -101.9297 2009.07.15T01:00:00.000 2009.07.15T04:0..
2009.07.18 06834000 40.3517 -101.1236 2009.07.18T04:00:00.000 2009.07.19T02:1..
2009.07.21 01391000 40.9978 -74.11194 2009.07.21T18:45:00.000 2009.07.21T22:1..
2009.07.23 02162093 34.0274 -81.04194 2009.07.23T04:00:00.000 2009.07.23T04:4..
2009.07.29 01391000 40.9978 -74.11194 2009.07.29T00:30:00.000 2009.07.29T22:0..
2009.07.29 01394500 40.6875 -74.31167 2009.07.29T22:15:00.000 2009.07.29T23:0..
2009.07.30 04280450 43.4639 -73.28472 2009.07.30T08:15:00.000 2009.07.30T19:0..
2009.07.30 01362500 42.0142 -74.27083 2009.07.30T06:30:00.000 2009.07.30T13:3..
2009.07.30 01334500 42.9386 -73.3775  2009.07.30T06:00:00.000 2009.08.01T16:0..
2009.07.30 01350000 42.3194 -74.43694 2009.07.30T06:45:00.000 2009.07.30T12:1..
2009.07.30 01367500 41.8431 -74.08639 2009.07.30T10:15:00.000 2009.07.30T14:3..
2009.07.30 01364500 42.0378 -73.9725  2009.07.30T07:45:00.000 2009.08.03T03:0..
2009.07.31 01349711 42.185  -74.27722 2009.07.31T16:45:00.000 2009.07.31T21:1..
..

In [11]:
stryear:{$[x<2011;6;x<2016;11;16]}each `year$peak_basin[`date]

merged:update year:stryear from peak_basin

show peak_bas_imp:merged ij `site_no`year xkey (nlcd06,nlcd11,nlcd16)

date       site_no  lat     lon       start_time              end_time       ..
-----------------------------------------------------------------------------..
2009.07.02 01377500 40.9928 -74.02111 2009.07.02T15:45:00.000 2009.07.02T16:1..
2009.07.02 01397000 40.5722 -74.86806 2009.07.02T11:00:00.000 2009.07.02T18:0..
2009.07.02 01396500 40.6778 -74.87917 2009.07.02T08:30:00.000 2009.07.02T12:1..
2009.07.07 06478500 43.1858 -97.63528 2009.07.07T12:45:00.000 2009.07.23T11:4..
2009.07.10 06478690 43.4156 -97.20472 2009.07.10T09:00:00.000 2009.07.11T08:3..
2009.07.11 04215000 42.89   -78.64528 2009.07.11T21:45:00.000 2009.07.12T02:1..
2009.07.11 04215500 42.8297 -78.77528 2009.07.11T21:15:00.000 2009.07.12T01:4..
2009.07.15 06438500 44.5294 -101.9297 2009.07.15T01:00:00.000 2009.07.15T04:0..
2009.07.18 06834000 40.3517 -101.1236 2009.07.18T04:00:00.000 2009.07.19T02:1..
2009.07.21 01391000 40.9978 -74.11194 2009.07.21T18:45:00.000 2009.07.21T22:1..
2009.07.23 02162093 34.0274 -81.04194 2009.07.23T04:00:00.000 2009.07.23T04:4..
2009.07.29 01391000 40.9978 -74.11194 2009.07.29T00:30:00.000 2009.07.29T22:0..
2009.07.29 01394500 40.6875 -74.31167 2009.07.29T22:15:00.000 2009.07.29T23:0..
2009.07.30 04280450 43.4639 -73.28472 2009.07.30T08:15:00.000 2009.07.30T19:0..
2009.07.30 01362500 42.0142 -74.27083 2009.07.30T06:30:00.000 2009.07.30T13:3..
2009.07.30 01334500 42.9386 -73.3775  2009.07.30T06:00:00.000 2009.08.01T16:0..
2009.07.30 01350000 42.3194 -74.43694 2009.07.30T06:45:00.000 2009.07.30T12:1..
2009.07.30 01367500 41.8431 -74.08639 2009.07.30T10:15:00.000 2009.07.30T14:3..
2009.07.30 01364500 42.0378 -73.9725  2009.07.30T07:45:00.000 2009.08.03T03:0..
2009.07.31 01349711 42.185  -74.27722 2009.07.31T16:45:00.000 2009.07.31T21:1..
..

In [12]:
show time_peak:update month:`mm$date from peak_bas_imp

date       site_no  lat     lon       start_time              end_time       ..
-----------------------------------------------------------------------------..
2009.07.02 01377500 40.9928 -74.02111 2009.07.02T15:45:00.000 2009.07.02T16:1..
2009.07.02 01397000 40.5722 -74.86806 2009.07.02T11:00:00.000 2009.07.02T18:0..
2009.07.02 01396500 40.6778 -74.87917 2009.07.02T08:30:00.000 2009.07.02T12:1..
2009.07.07 06478500 43.1858 -97.63528 2009.07.07T12:45:00.000 2009.07.23T11:4..
2009.07.10 06478690 43.4156 -97.20472 2009.07.10T09:00:00.000 2009.07.11T08:3..
2009.07.11 04215000 42.89   -78.64528 2009.07.11T21:45:00.000 2009.07.12T02:1..
2009.07.11 04215500 42.8297 -78.77528 2009.07.11T21:15:00.000 2009.07.12T01:4..
2009.07.15 06438500 44.5294 -101.9297 2009.07.15T01:00:00.000 2009.07.15T04:0..
2009.07.18 06834000 40.3517 -101.1236 2009.07.18T04:00:00.000 2009.07.19T02:1..
2009.07.21 01391000 40.9978 -74.11194 2009.07.21T18:45:00.000 2009.07.21T22:1..
2009.07.23 02162093 34.0274 -81.04194 2009.07.23T04:00:00.000 2009.07.23T04:4..
2009.07.29 01391000 40.9978 -74.11194 2009.07.29T00:30:00.000 2009.07.29T22:0..
2009.07.29 01394500 40.6875 -74.31167 2009.07.29T22:15:00.000 2009.07.29T23:0..
2009.07.30 04280450 43.4639 -73.28472 2009.07.30T08:15:00.000 2009.07.30T19:0..
2009.07.30 01362500 42.0142 -74.27083 2009.07.30T06:30:00.000 2009.07.30T13:3..
2009.07.30 01334500 42.9386 -73.3775  2009.07.30T06:00:00.000 2009.08.01T16:0..
2009.07.30 01350000 42.3194 -74.43694 2009.07.30T06:45:00.000 2009.07.30T12:1..
2009.07.30 01367500 41.8431 -74.08639 2009.07.30T10:15:00.000 2009.07.30T14:3..
2009.07.30 01364500 42.0378 -73.9725  2009.07.30T07:45:00.000 2009.08.03T03:0..
2009.07.31 01349711 42.185  -74.27722 2009.07.31T16:45:00.000 2009.07.31T21:1..
..

In [13]:
time_peak[`delta_peak]:(time_peak[`peak_time]-time_peak[`start_time])*24

In [14]:
upstr:update upst1:prev height,upst2:2 xprev height by date,catch:2#'string each site_no from maxht

In [15]:
time_peak:time_peak ij `site_no`date xkey upstr

In [16]:
fillcol:time_peak

fillcol[`pptup2]:fillcol[`ppt]|'fillcol[`pptup1]|'fillcol[`pptup2]
fillcol[`pptup1]:fillcol[`ppt]|'fillcol[`pptup1]

fillcol[`prev10]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]|'
    fillcol[`prev6]|'fillcol[`prev7]|'fillcol[`prev8]|'fillcol[`prev9]|' fillcol[`prev10]

fillcol[`prev9]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]|'
    fillcol[`prev6]|'fillcol[`prev7]|'fillcol[`prev8]|'fillcol[`prev9]

fillcol[`prev8]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]|'
    fillcol[`prev6]|'fillcol[`prev7]|'fillcol[`prev8]

fillcol[`prev7]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]|'
    fillcol[`prev6]|'fillcol[`prev7]

fillcol[`prev6]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]|'fillcol[`prev6]

fillcol[`prev5]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'
    fillcol[`prev4]|'fillcol[`prev5]

fillcol[`prev4]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]|'fillcol[`prev4]

fillcol[`prev3]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]|'fillcol[`prev3]

fillcol[`prev2]:fillcol[`ppt]|'fillcol[`prev1]|'fillcol[`prev2]

fillcol[`prev1]:fillcol[`ppt]|'fillcol[`prev1]
upstr[`upst2]:upstr[`height]|upstr[`upst1]|upstr[`upst2]
upstr[`upst1]:upstr[`height]|upstr[`upst1]
fillcol:time_peak

In [17]:
\S -5128710
aa:-200?distinct time_peak[`site_no]
bb:distinct time_peak[`site_no] except aa

In [18]:
time_peak[`split]:{$[x in bb;`TEST;`TRAIN]}each time_peak[`site_no]

In [19]:
select count where delta_peak<3.12,count where delta_peak within 3.12 7.44,count where delta_peak 
    within 7.44 18,count where delta_peak>18 from time_peak

x   x1  x2  x3
---------------
747 720 789 787

In [20]:
time_peak[`target]:{$[x<3.12;0;x within 3.12 7.44;1;x within 7.44 18;2;3]}each time_peak[`delta_peak]

In [21]:
-1+exec start_time from time_peak
exec start_time from time_peak

2009.07.01T15:45:00.000 2009.07.01T11:00:00.000 2009.07.01T08:30:00.000 2009...

2009.07.02T15:45:00.000 2009.07.02T11:00:00.000 2009.07.02T08:30:00.000 2009...

In [ ]:
system"mv

In [21]:
\l gagesdir

pk_binary.csv: pk_binary.csv

In [124]:
wind_ht_24:raze {[x] 
 dd:x[1];
 si:x[0];
 select wind_2:max 2 mavg height,wind_4:max 4 mavg height,wind_12:max 12 mavg height,wind_48:max 48 mavg height from 
    str where date within ("d"$dd,("d"$dd)+1),si=`$site_no,datetime 
    within (dd,dd+1)}each value each select site_no,start_time from time_peak

In [125]:
show time_peak_ht:time_peak,'wind_ht_24

date       site_no  lat     lon       start_time              end_time       ..
-----------------------------------------------------------------------------..
2009.07.02 01377500 40.9928 -74.02111 2009.07.02T15:45:00.000 2009.07.02T16:1..
2009.07.02 01397000 40.5722 -74.86806 2009.07.02T11:00:00.000 2009.07.02T18:0..
2009.07.02 01396500 40.6778 -74.87917 2009.07.02T08:30:00.000 2009.07.02T12:1..
2009.07.07 06478500 43.1858 -97.63528 2009.07.07T12:45:00.000 2009.07.23T11:4..
2009.07.11 04215000 42.89   -78.64528 2009.07.11T21:45:00.000 2009.07.12T02:1..
2009.07.11 04215500 42.8297 -78.77528 2009.07.11T21:15:00.000 2009.07.12T01:4..
2009.07.18 06834000 40.3517 -101.1236 2009.07.18T04:00:00.000 2009.07.19T02:1..
2009.07.21 01391000 40.9978 -74.11194 2009.07.21T18:45:00.000 2009.07.21T22:1..
2009.07.23 02162093 34.0274 -81.04194 2009.07.23T04:00:00.000 2009.07.23T04:4..
2009.07.29 01391000 40.9978 -74.11194 2009.07.29T00:30:00.000 2009.07.29T22:0..
2009.07.30 04280450 43.4639 -73.28472 2009.07.30T08:15:00.000 2009.07.30T19:0..
2009.07.30 01362500 42.0142 -74.27083 2009.07.30T06:30:00.000 2009.07.30T13:3..
2009.07.30 01334500 42.9386 -73.3775  2009.07.30T06:00:00.000 2009.08.01T16:0..
2009.07.30 01350000 42.3194 -74.43694 2009.07.30T06:45:00.000 2009.07.30T12:1..
2009.07.30 01367500 41.8431 -74.08639 2009.07.30T10:15:00.000 2009.07.30T14:3..
2009.07.30 01364500 42.0378 -73.9725  2009.07.30T07:45:00.000 2009.08.03T03:0..
2009.07.31 01349711 42.185  -74.27722 2009.07.31T16:45:00.000 2009.07.31T21:1..
2009.07.31 04280450 43.4639 -73.28472 2009.07.31T20:00:00.000 2009.08.01T04:3..
2009.07.31 01423000 42.1661 -75.14028 2009.07.31T18:15:00.000 2009.08.01T17:0..
2009.07.31 01362500 42.0142 -74.27083 2009.07.31T17:30:00.000 2009.08.01T07:0..
..

In [126]:
save `time_peak_ht.csv
system"gsutil cp time_peak_ht.csv gs://nasa_fdl_floods_2019/data/usgs_events_csv/time_peak.csv"

`:time_peak_ht.csv

Copying file://time_peak_ht.csv [Content-Type=text/csv]...
/ [1 files][  5.8 MiB/  5.8 MiB]
Operation completed over 1 objects/5.8 MiB.

## Binary labels

In [131]:
pk_binary:time_peak_ht

In [138]:
pk_binary[`target]:{$[x<3.5;1;0]}each pk_binary[`delta_peak]

In [139]:
pk_binary[`split]:{$[x in bb;`TEST;`TRAIN]}each pk_binary[`site_no]

In [140]:
save `pk_binary.csv
system"gsutil cp pk_binary.csv gs://nasa_fdl_floods_2019/data/usgs_events_csv/pk_binary.csv"

`:pk_binary.csv

Copying file://pk_binary.csv [Content-Type=text/csv]...
/ [1 files][  5.8 MiB/  5.8 MiB]
Operation completed over 1 objects/5.8 MiB.

In [0]:
print cols pk_binary

pk_binary: pk_binary

In [104]:
select imp by site_no from time_peak

site_no | imp
--------| ---
01200000| 1
01312000| 1
01315000| 1
01315500| 1
01318500| 1
01321000| 1
01325000| 1
01327750| 1
01334500| 1
01335754| 1
01343060| 1
01346000| 1
01347000| 1
01349150| 1
01349711| 1
01350000| 1
01350101| 1
01350355| 1
01351500| 1
01357500| 1
..